@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Mulish:wght@300;400;700&display=swap');


/* .titleFont {
  font-family: 'Josefin Sans', sans-serif; 
}

.bodyFont {
  font-family:'Mulish', sans-serif;
}
 */

 html {
  scroll-behavior: smooth;
 
  
 }

 section, div {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
  section::-webkit-scrollbar, div::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position:static;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #000000;
}


.skill:not(:last-child) {
  border-right: solid 1px black;
}

.portfolioContent li:first-child {
  padding-left: 0;
 }
 
 .portfolioContent li:not(:last-child) {
     border-right: 1px solid black;
    
 }


.elisa::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #C4C9A5;
  -webkit-text-stroke: .5px #C4C9A5;
  border-right: 2px solid #C4C9A5;
  overflow: hidden;
  animation: animate 5s infinite;
}



@keyframes animate {
  0% {
      width: 0;
  }

  20%, 100%{
      width: 100%; 
  }
}

